<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>{% block title %} {{pagetitle}} {% endblock %} </title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  
  
 <STYLE type="text/css">
 #main, #header, #logo, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 950px;
  margin: 20px auto;}

#header
{ width: 1000px;
  height: 145px;}

  #logo
{ width: 950px;
  float: right;
  height: 100px;
  background: transparent;
  padding: 0 0 0px 10px;}

#logo h1
{ font: normal 350% 'Yanone Kaffeesatz', arial, sans-serif;
  padding: 5px 0 0 17px;
  color: #555;
  float: left;}

#logo h1 a
{ color: #35BDF5;
  text-decoration: none;}

#logo h1 a:hover
{ color: #555;
  text-decoration: none;}
  
.slogan
{ float: right; 
  padding-right: 25px;
  text-align: right; 
  font: 180% 'tangerine', arial; 
  color: #111;}
  
  
 body 
  { font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F7F7F7 url(pattern.png) fixed;
  color: #555;}
 
    #bg {
	position:fixed;
	top:0;
	left:0; 

	/* Preserve aspet ratio */
	min-width:100%;
	min-height:100%;
}
  .button {
     float: right;
     font-size:15pt;
     color: white;
     border: 1px solid #006;
     background: navy;
 }
   .button1 {
     font-size:10pt;
     border: 1px solid #006;
     background: orange;
 }
 </STYLE>
 

</head>
<body>

  <div id="main"> 
    <div id="header"> 
      <div id="logo"> {%block logo%}
        <h1>Open Mish Mash <a href="#">...</a></h1>
        <form action = 'registration.html' > <input type="submit"  value="Create an Account" class = "button"></form>
        <span class="slogan">New to Mish Mash?</span>
        {%endblock%}
  </div>
<div id="content" style="background-color:#FFFFFF;height:100px;width:250px;float:right;"> {%block content%}
<center><table align = 'right' cellpadding='10' cellspacing='0' border='0' id='ap_table'> 
<tr><td bgcolor="blue"><table cellpadding='0' cellspacing='3.5'border='0' width='100%'>
<tr><td bgcolor="blue" style="padding:2;padding-bottom:4"><b><font size=3 color="white" ><b><H3>Sign in to Mish Mash!</H3>  </b></font></th></tr>
<tr><td bgcolor="white" style="padding:9"><br>


  <!--Login -->
<table style="background-color:#FFFFFF;"text-align:left;">
<tr><td> <font face="verdana,arial" size=3><b>MishMash ID:</b></td></tr>
<td><font face="verdana,arial" size=-1><input type="id" name="_id"></td>
<tr><td><font face="verdana,arial" size=3><b>Password:</b></h2></td><tr></tr>
<td><font face="verdana,arial" size=-1><input type="password" name="_password"></td></tr>
                                       <tr><td><font face="verdana,arial" size=-1>&nbsp;</td>
<tr><td><font face="verdana,arial" size=-1><input type="submit"  value="Sign In" class = button1></td></tr>
<tr><td colspan=2><font face="verdana,arial" size=-1>Lost your username or password? <a href="http://www.authpro.com/auth/deluxe/?action=lost"> Click Here!</a></td></tr>
<tr></tr>
<tr></tr>
<tr></tr>
<tr></tr>
<td><font face="verdana,arial" size=3>           ___ Or___   </td></tr>
<tr></tr>
<tr></tr>
<tr></tr>
<tr></tr>
<p><td><font face="verdana,arial" size=2 > Sign in with: </td></p>
<tr></tr>
<tr></tr>
<tr><td>
                   <div id="fBtn">
                        
                   <a id="gBtnLnk" href="https://www.facebook.com/login.php?api_key=90376669494&skip_api_login=1&display=popup&cancel_url=https%3A%2F%2Fopen.login.yahoo.com%2Fopenid%2Fyrp%2Freturn_to%3Fsid%3D9ad5b1cd497ae3e535144434afed5806%26error_reason%3Duser_denied%26error%3Daccess_denied%26error_description%3DThe%2Buser%2Bdenied%2Byour%2Brequest.%26state%3D7beba887ef40fcc0321e340b9232ab3a&fbconnect=1&next=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fpermissions.request%3F_path%3Dpermissions.request%26app_id%3D90376669494%26redirect_uri%3Dhttps%253A%252F%252Fopen.login.yahoo.com%252Fopenid%252Fyrp%252Freturn_to%253Fsid%253D9ad5b1cd497ae3e535144434afed5806%26display%3Dpopup%26response_type%3Dcode%26state%3D7beba887ef40fcc0321e340b9232ab3a%26perms%3Demail%252Cfriends_birthday%252Cfriends_education_history%252Cfriends_events%252Cfriends_location%252Cfriends_status%252Cfriends_work_history%252Coffline_access%252Cpublish_stream%252Cread_stream%252Cuser_about_me%252Cuser_activities%252Cuser_birthday%252Cuser_education_history%252Cuser_events%252Cuser_groups%252Cuser_interests%252Cuser_likes%252Cuser_location%252Cuser_religion_politics%252Cuser_status%252Cuser_work_history%252Cxmpp_login%26fbconnect%3D1%26from_login%3D1%26client_id%3D90376669494&rcount=1" class="secondaryCta" target="_blank" tabIndex="9"><img src= http://www.resetsanfrancisco.org/sites/default/files/im/facebook-logo.png  title='Facebook' "width='50%' height=75/></a>
                    </div>
</td>
<td>  
                    <div id="gBtn"> 
                        <img src= http://www.techclarify.com/wp-content/uploads/2011/03/gmail-logo-cloud-300x300.png  title='Google' "width='50%' height=75/>
                        
                       
                   </div> </td>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
</tr>     
                  
                <div class="clear"></div>
      
        <script>
        var fbSigninLnk = "https://open.login.yahoo.com/openid/yrp/signin?idp=facebook&ts=1335057175&.intl=us&.lang=en%2dUS&.done=http%3A%2F%2Fwww.yahoo.com%2F&rpcrumb=mheBqDlXOcs&.src=fpctx";
        var googSigninLnk = "https://open.login.yahoo.com/openid/yrp/signin?idp=google&ts=1335057175&.intl=us&.lang=en%2dUS&.done=http%3A%2F%2Fwww.yahoo.com%2F&rpcrumb=mheBqDlXOcs&.src=fpctx"; 
        </script>
 </table> </table> </table>
        {%endblock%}
          </div> 

 </body>
  </html> 




