<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html>
<head>
  <title>{% block title %} {{pagetitle}} {% endblock %} </title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="stylesheet" type="text/css" href="style.css" />

 <STYLE type="text/css">
 #main, #header, #logo, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 950px;
  margin: 20px auto;}

#header
{ width: 1000px;
  height: 145px;}

  #logo
{ width: 950px;
  float: left;
  height: 100px;
  background: transparent;
  padding: 0 0 0px 10px;}

#logo h1
{ font: normal 350% 'Yanone Kaffeesatz', arial, sans-serif;
  padding: 5px 0 0 17px;
  color: #555;
  float: left;}

#logo h1 a
{ color: #35BDF5;
  text-decoration: none;}

#logo h1 a:hover
{ color: #555;
  text-decoration: none;}
  
.slogan
{ float: right; 
  padding-right: 25px;
  text-align: right; 
  font: 150% 'tangerine', arial; 
  color: #111;}
 
 body 
  { font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F7F7F7 url(pattern.png) fixed;
  color: #555;}
  
 .button {
     font-size:15pt;
     color: white;
     border: 1px solid #006;
     background: navy;
 }
   .button1 {
     font-size:12pt;
     border: 1px solid #006;
     background: orange;
 }
 </STYLE>
 <body>
                                                                      
  <div id="main">
    <div id="header">
        
      <div id="logo"> {%block logo%}
        <h1>Open Mish Mash <a href="#">...</a></h1>
        <span class="slogan">Already a Member?<form action = 'login.html'><font face="verdana,arial"  bgcolor="red" size=2><input type="submit"  value="Sign In" class = "button" ></form>
        </span> <br> {%endblock%}</div></div>

<div id="container" style ="float: left; height:108px;>
<table width=50% height=100 cellpadding='0' cellspacing='5' border='5' id='ap_table'> 
<tr><td bgcolor="blue">
<table cellpadding='10' cellspacing='5' border='7' width='150%'>
<tr><td bgcolor="blue" align=center style="padding:30;padding-bottom:4"><b><font size=3 color="white" face="verdana,arial"><b>Become a Member</b></font></th></tr>
<tr><td bgcolor="white" style="padding:20";><br>
<form method="post" action="http://www.echoecho.com/cgi-bin/formmail.cgi">

<table cellspacing = '0'; >
<tr><td><font face="verdana,arial" size=5>Username:</td><tr><td><input type="text" name="username" size="40" ></td></tr>
<tr><td><font face="verdana,arial" size=5>Email</td><tr><td><input type="email" name="email" size="4"></td></tr>
<tr><td><font face="verdana,arial" size=5>Password:</td><tr><td><input type="password" name="password" size="40"></td></tr>
<tr><td><font face="verdana,arial" size=5>Confirm Password:</td><tr><td><input type="password" name="confirmpassword" size="40"></td></tr>
<tr><td><font face="verdana,arial" size=5>&nbsp;</td><tr><td><font face="vivaldi,arial"><input type="submit" value="Join" class="button1"></td></tr>
<tr></tr>
<tr><td colspan=2><font face="verdana,arial" size=-1>&nbsp;</td></tr>
</form>
</td></tr>
</table>
{%endlock%}</div></div>

</body>
</html>        