{% extends "event.html" %}

{% block title %} Select Service {% endblock %}


{% block button %}
<p>Search mail to email specified</p>
<h1> Enter criteria for Gmail Service to Create Response</h1>




<form action="/created/" method="post">
<table>
{{form.as_table}}
</table>
<input type="submit" value="Create Response">
</form>

{% endblock %}
