{% extends "trigger.html" %}

{% block title %} Access Page {% endblock %}


{% block button %}
<h1> Enter Information to access Gmail</h1>
{% if form.errors %}



<p style="color:red;">


Please correct the error {{form.errors|pluralize}} below.

	
</p>

{% endif %}




<form action="" method="post">
{% csrf_token %}
<table>
{{form.as_table}}
</table>
<input type="submit" value="Authorize">
</form>

{% endblock %}
