{% extends "index2.html" %}

{% block title %} Choose a channel {% endblock %}
{% block menu %}
<div id="menubar">
        <ul id="menu">
          <!-- put class="current" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="">Home</a></li>
          <li class="current"><a href="#">Create Mixes</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
      </div>
    </div>
{% endblock %}

{% block button %}
<h1>Choose a channel</h1>
<a href="/response/"><img src='img1.png' alt="Gmail"/></a>

<a href="/authorize/"><img src='img1.png' alt=""/> Yahoo</a>
<br><br>
<a href="/authorize/"><img src='img1.png' alt=""/> Hotmail</a>


{% endblock %}

 
