{% extends "trigger.html" %}

{% block title %} Select Service {% endblock %}


{% block button %}
<p>Search mail by subject keyword and sender</p>
<h1> Enter criteria for Gmail Service to Create Trigger</h1>




<form action="/start_response/" method="post">
{% csrf_token %}
<table>
{{form.as_table}}
</table>
<input type="submit" value="Create Trigger">
</form>

{% endblock %}
